@charset "utf-8";
/* CSS Document */
@keyframes El{
	
	0% {opacity: 0;}
	100% {opacity: 1;}	
}

@font-face  
{font-family: exbold;
src: url("../Fonts/iCielGalanoGrotesque-Extrabold.otf");}
@font-face
{font-family: semi;
src: url("../Fonts/iCielGalanoGrotesque-SemiBold.otf");}
@font-face
{font-family: regu;
src: url("../Fonts/iCielGalanoGrotesque-Regular.otf");}
@font-face
{font-family: medi;
src: url("../Fonts/iCielGalanoGrotesque-Medium.otf");}





.logo
{width: 50px;
height: 50px;
position: relative;}
.logo img
{width: 100%;}

.navbar
{width: 100%!important;}
.navbar-menu
{list-style: none;
margin: 10px;}
.navbar-menu li
{float: right;
padding: 0px 0px 0px 60px;}
.navbar-menu li a
{text-decoration: none;
color: #ff4b38;
font-family: medi;
font-size: 1rem;}
	.navbar-menu li a:hover
	{color: black;}
.Big
{width: 100%;
height: 680px;
position: relative;}
.Bg
{height: 100%;
width: 100%;
background: url("../Images/Background.jpg") no-repeat;
background-size: cover;
filter: opacity(0.1);
z-index: -5;
position: absolute;
margin: 0px;}
	.Header
	{position: absolute;
	padding: 150px 0px;}
	.Me
	{border-radius: 100%;
	width: 80%;}
	.El
	{animation: El 1s ;
	font-size: 4rem;
	font-family: exbold;
	color: #ff4b38;
	opacity: 0.9;}
	.Hello
	{padding: 110px 0px 0px;}
	.element
	{font-size: 3rem;
	font-family: exbold;
	color: #ff4b38;
	opacity: 0.9;}

#About
{width: 100%;
height: 650px;
position: relative;}
	.Text
	{font-size: 7rem;
	position: relative;
	top: -20px;
	color: #ff4b38;
	z-index: 5;
	font-family: exbold;
	line-height: 100px;
	text-shadow: -1px 0px 0 white , -5px 0px 0 #ff8f8f, -1px 0px 0 #ff8f8f, 0px 1px 0 #ff8f8f;
	opacity: 0.9;}
.Top
{height: 650px;
position: relative;
padding: 50px 0px;}
.Top1
{height: 400px;
border-radius: 20px;
position: absolute;
z-index: -5;
top: 0px;
filter: opacity(0.5);}
.Top2
{height: 600px;
z-index: 20!important;}
.vuong
{width: 150px;
height: 150px;
position: relative;
float: left;
margin: 25px 15px;
border-radius: 10px;
border: 2px #ff4b38 solid;
justify-content: right;}
	.vuong:hover
	{-webkit-box-shadow: -10px 10px 5px 1px rgba(204,204,204,0.5);
	-moz-box-shadow: -10px 10px 5px 1px rgba(204,204,204,0.5);
		box-shadow: -10px 10px 5px 1px rgba(204,204,204,0.5);}
.fa-desktop
{position: relative;
left: 100px;
top: 15px;
color:#ff4b38;}
.text
{position:relative;
top: -22px;
left: 10px;
font-size: 0.9rem;
line-height: 20px;
font-family: semi;}
hr
{width: 30px;
position: relative;
left: -45px;
top: -30px;
height: 1px!important;}
.text1
{font-size: 0.7rem;
position: relative;
left: 10px;
top: -26px;
font-family: regu;}
.fa-pencil-square-o
{position: relative;
left: 100px;
top: 15px;
color:#ff4b38; }
.fa-camera
{position: relative;
left: 100px;
top: 15px;
color:#ff4b38; }
.fa-briefcase
{position: relative;
left: 100px;
top: 15px;
color:#ff4b38; }
.vuongdo
{width: 100%;
position: absolute;
top: -120px;
left: -50px;}


.Big2
{width: 100%;
height: 1000px;
position: relative;}
	.text2
	{font-family: exbold;
	font-size: 15rem;
	color: #ff4b38;
	opacity: 0.5;
	z-index: -5;
	position: absolute;
	line-height: 200px;
	top: 500px;
	left: 0px;}
	.vuong2
	{z-index: 5;
	position: relative;}


#Portfolio
{width: 100%;
height: 1000px;
position: relative;}
.P1
{height: 1000px;
position: relative;
padding: 80px 0px 0px;}
	.b3
{height: 100%;
width: 100%;
background: url("../Images/b3.png") no-repeat;
background-size: cover;
filter: opacity(0.1);
z-index: -5;
position: absolute;
margin: 0px;}
.P2
{position: relative;
padding: 0px 0px 20px;}
	.ptext
	{font-size: 7rem;
	font-family: exbold;
	color:#ff4b38;
	opacity: 0.9;
	text-shadow: -1px 0px 0 white , -5px 0px 0 #ff8f8f, -1px 0px 0 #ff8f8f, 0px 1px 0 #ff8f8f;}
	.phinh
	{width: 100%;
	border-radius: 10px;}

.P3
{position: relative;
padding: 30px 0px 0px;}
	.p1
	{background: none;
	border: 2px #ff4b38 solid;
	border-radius: 80px;
	height: 45px;
	width: 150px;
	font-size: 1.2rem;
	color: #ff4b38;
	margin: 10px 0px;
	font-family: regu;}
		.p1 a
		{text-decoration: none;}
		.p1:hover
		{background: #ff4b38;
		color: white;}

#Skills
{width: 100%;
height: 610px;
position: relative;}
.S1
{height: 610px;
position: relative;
padding: 0px;}
.S2
{height: 400px;
position: relative;
justify-content: center;
display: flex;}
	.texts
{font-family: exbold;
font-size: 7rem;
padding: 50px 0px 50px;
color: #ff4b38;
text-shadow: -1px 0px 0 white , -5px 0px 0 #ff8f8f, -1px 0px 0 #ff8f8f, 0px 1px 0 #ff8f8f;}
	.vuongs2
	{width: 200px;
	height: 300px;
	border: 2px #ff4b38 solid;
	border-radius: 40px;
	float: left;
	margin: 0px 30px;
	position: relative;
	background:url("../Images/bg3.png") no-repeat;
	background-size: cover;}
		.vuongs2:hover
{background: #ff4b38;}
		.textvuong
		{font-size: 4rem;
		font-family: semi;
		color: white;
		-webkit-text-stroke: 2px #ff4b38;
		padding: 0px 65px;}
		.textvuong3
		{font-size: 4rem;
		font-family: semi;
		color: white;
		-webkit-text-stroke: 2px #ff4b38;
		padding: 0px 60px;}
		.textvuong4
		{font-size: 4rem;
		font-family: semi;
		color: white;
		-webkit-text-stroke: 2px #ff4b38;
		padding: 0px 50px;}
		.textvuong2
		{font-size: 4rem;
		font-family: semi;
		color: white;
		-webkit-text-stroke: 2px #ff4b38;
		padding: 30px 55px;}
		.textvuong5
		{font-size: 4rem;
		font-family: semi;
		color: white;
		-webkit-text-stroke: 2px #ff4b38;
		padding: 30px 50px;}
		.vuongs2 hr
		{width: 85px;
		margin: 20px 100px;}
		.hinhs
		{width: 70%;
		margin: -50px 25px;
		position: relative;}
		.hinhs1
		{width: 70%;
		margin: -50px 28px;
		position: relative;}
		.hinhs2
		{width: 70%;
		margin: -50px 30px;
		position: relative;}

#Contact
{width: 100%;
height: 1000px;
position: relative;}
.C1
{height: 1000px;
position: relative;
padding: 50px;}
	.C2
	{font-family: exbold;
	font-size: 7rem;
	padding: 40px 0px 40px;
	color: #ff4b38;
	text-shadow: -1px 0px 0 white , -5px 0px 0 #ff8f8f, -1px 0px 0 #ff8f8f, 0px 1px 0 #ff8f8f;}
	.fa-envelope
	{color: #ff4b38; 
	padding: 0px 0px 20px 10px;}
	.fa-phone
	{color: #ff4b38;
	padding: 0px 0px 20px 10px;}
	.ctext
	{font-family: medi; 
	font-size: 2rem;
	color:#ff4b38;
	padding: 0px 0px 20px;}
	.C3
	{font-family: medi; 
	font-size: 3rem;
	color:#ff4b38;
	padding: 0px 0px 30px;}
	.form-control
	{height: 200px!important;
	font-size: 1rem!important;
	font-family: regu!important;}
	.hinhc
	{position: relative;
	top: 70px;
	left: -300px;}
	.hinhc1
	{position: relative;
	top: -150px;
	left: 980px;}
		.b2
	{background: none;
	border: 2px #ff4b38 solid;
	border-radius: 80px;
	height: 45px;
	width: 150px;
	font-size: 1.2rem;
	color: #ff4b38;
	position: relative;
	top: -300px;
	font-family: regu;
	left: -25px;}
		.b2 a
		{text-decoration: none;
		color: #ff4b38;}
		.b2:hover
		{background: #ff4b38;
		color: white;}

.foo
{width: 100%;
height: 200px;
background: white;
position: relative;}
.circle
{background: #ff4b38;
height: 60px;
width: 60px;
border-radius: 100%;
margin: 30px 5px 0px;}
	.circle:hover
{background: white;}
.fa-facebook-f
{color: white;
padding: 14px 21px ;}
	.fa-facebook-f:hover
		{color: black;}
	.fa-behance:hover
		{color: black;}
	.fa-instagram:hover
		{color: black;}
	.fa-pinterest-p:hover
		{color: black;}
.fa-behance
{color: white;
padding: 14px 0px;}
.fa-instagram
{color: white;
padding: 14px 0px;}
.fa-pinterest-p
{color: white;
padding: 14px 0px;}
.foo1
{position: relative;
top: -10px;
font-family: regu;
color:#ff4b38; }


@media screen and (min-width: 375px) and (max-width:415px)
{ .navbar-menu li a {font-size: 0.45rem!important;}
	.navbar-menu li {float: right;
					margin:  -2px -18px ;
					top: -60px;
					position: relative;}
	.logo img {width: 50%;}
	.navbar {height: 50px;}

	.Big {height: 250px;}
	.Header {height: 250px;}
	.El {font-size: 2rem;}
	.element {font-size: 1rem;}
	.Hello {padding: 0px;
			top: -40px;}
	.text-right {padding: 0px;
				position: relative;
				top: -60px;}
	#About {height: 300px!important; }
	.Top1 {height: 145px;}
	.Text {font-size: 2.5rem;
			line-height: 37px;}
	.vuongdo {width: 100%;
				top: -10px; left: 2px;}
	.vuong {width: 42px; height: 42px; margin: -5px 5px 15px 5px;border-radius: 5px!important;border: 0.2px #ff4b38 solid!important;}
				.vuong:hover
	{-webkit-box-shadow: -2px 2px 5px 1px rgba(204,204,204,0.5);
	-moz-box-shadow: -2px 2px 5px 1px rgba(204,204,204,0.5);
		box-shadow: -2px 2px 5px 1px rgba(204,204,204,0.5);}
	.fa-desktop {font-size: 10px!important;
				position: relative;
				left: 27px!important;
				top: -5px!important;}
	.fa-camera {font-size: 10px!important;
				position: relative;
				left: 27px!important;
				top: -5px!important;}

	.fa-pencil-square-o {font-size: 10px!important;
				position: relative;
				left: 27px!important;
				top: -5px!important;}
	.fa-briefcase {font-size: 10px!important;
				position: relative;
				left: 27px!important;
				top: -5px!important;}

	.text {font-size: 0.25rem;
			line-height: 4.5px!important;
			position: relative;
			top: -17px!important;
			left: 3px!important;}
	hr {width: 5px;
		height: 0.1px!important;
		left: -12px!important;
		top: -31px!important;}
	.text1 {font-size: 0.155rem; padding: 0px!important; margin: 0px;
			top: -38px!important; line-height: 4px!important;
			left: 03px!important; }
	.Top {height: 300px; padding: 15px 0px!important;}
	.Top2 {height: 200px;}
	
	.Big2 {height: 300px;}
	.vuong2 {width: 100%;}
	.text2 {font-size: 5rem;
			top: 135px!important;
			line-height: 65px;}
	#Portfolio {height: 390px!important; }
	.P1 {height: 390px; top: -30px;}
	.ptext {font-size: 2.5rem; top: -10px!important;}
	.P3 {position: relative; top: -65px;}
	.phinh {width: 100%;}
	.p1 {position: relative; top: -90px;
		height: 20px; width: 65px;
		font-size: 0.45rem!important;}
	#Skills {height: 230px!important;position: relative;top: 0px!important;}
	.S1 {position: relative; top: 0px; height: 230px;}
	.texts {font-size: 2.5rem; padding: 15px 0px!important;}
	.vuongs2 {height: 110px; width: 70px; border-radius: 20px; margin: 10px;}
	.textvuong {font-size: 1.6rem; position: relative; top: -03px; left: -44px;}
	.vuongs2 hr {width: 35px!important; position: relative; left: -85px!important;top: -28px!important;}
	.textvuong3 {font-size: 1.6rem; position: relative; top: -03px; left: -43px;}
	.textvuong4 {font-size: 1.6rem; position: relative; top: -03px; left: -37px;}
	.hinhs {width: 78%; position:  relative; top: -37px;left: -18px;}
	.hinhs1 {width: 78%; position:  relative; top: -37px;left: -21px;}
	.hinhs2 {width: 78%; position:  relative; top: -37px;left: -23px;}
	.textvuong2 {font-size: 1.6rem; position: relative; top: -61px; left: -37px;}
	.textvuong5 {font-size: 1.6rem; position: relative; top: -61px; left: -34px;}
	#Contact {height: 650px!important;top: 0px!important;}
	.C1 {position: relative; top: 0px; height: 650px;}
	.C2 {font-size: 2.5rem; top: 0px;}
	.fa-envelope {font-size: 25px!important; position: relative; top: -20px; left: -10px;}
	.fa-phone {font-size: 25px!important; position: relative; top: -15px; left: -8px;}
	.ctext {font-size: 1rem; position: relative; top: -15px;}
	.C3 {font-size: 1.5rem;position: relative; top: -20px;}
	.hinhc {width: 30%; top: 30px; left: -150px; z-index: 10!important;}
	input {position: relative; top: -20px;z-index: 5!important;}
	.hinhc1 {width: 60%; top: -120px; left: 190px; z-index: 10!important;}
	.b2 {position: relative; top: -190px; width: 50px; height: 20px; font-size: 0.6rem;left: 0px;}
	.circle {height: 20px; width: 20px;}
	.fa-facebook-f {font-size: 11px!important; position: relative; top: -9.5px;left: -15px;}
	.fa-behance {font-size: 11px!important; position: relative; top: -10px;left: 1px;}
	.fa-instagram {font-size: 11px!important; position: relative; top: -9px;}
	.fa-pinterest-p {font-size: 11px!important; position: relative; top: -8.5px;}
	.foo1 {font-size: 0.5rem; position: relative; left: 15px;top: 10px;}
	footer {height: 50px!important;}
	.foo {height: 50px; top: -50px;}
}


@media screen and (min-width: 375px) and (max-width:415px)
{ .navbar-menu li a {font-size: 0.45rem!important;}
	.navbar-menu li {float: right;
					margin:  -2px -18px ;
					top: -60px;
					position: relative;}
	.logo img {width: 50%;}
	.navbar {height: 50px;}

	.Big {height: 250px;}
	.Header {height: 250px;}
	.El {font-size: 2rem;}
	.element {font-size: 1rem;}
	.Hello {padding: 0px;
			top: -40px;}
	.text-right {padding: 0px;
				position: relative;
				top: -60px;}
	#About {height: 300px!important; }
	.Top1 {height: 145px;}
	.Text {font-size: 2.5rem;
			line-height: 37px;}
	.vuongdo {width: 100%;
				top: -10px; left: 2px;}
	.vuong {width: 42px; height: 42px; margin: -5px 5px 15px 5px;border-radius: 5px!important;border: 0.2px #ff4b38 solid!important;}
		.vuong:hover
	{-webkit-box-shadow: -2px 2px 5px 1px rgba(204,204,204,0.5);
	-moz-box-shadow: -2px 2px 5px 1px rgba(204,204,204,0.5);
		box-shadow: -2px 2px 5px 1px rgba(204,204,204,0.5);}
	.fa-desktop {font-size: 10px!important;
				position: relative;
				left: 27px!important;
				top: -5px!important;}
	.fa-camera {font-size: 10px!important;
				position: relative;
				left: 27px!important;
				top: -5px!important;}

	.fa-pencil-square-o {font-size: 10px!important;
				position: relative;
				left: 27px!important;
				top: -5px!important;}
	.fa-briefcase {font-size: 10px!important;
				position: relative;
				left: 27px!important;
				top: -5px!important;}

	.text {font-size: 0.25rem;
			line-height: 4.5px!important;
			position: relative;
			top: -17px!important;
			left: 3px!important;}
	hr {width: 5px;
		height: 0.1px!important;
		left: -12px!important;
		top: -31px!important;}
	.text1 {font-size: 0.155rem; padding: 0px!important; margin: 0px;
			top: -38px!important; line-height: 4px!important;
			left: 03px!important; }
	.Top {height: 300px; padding: 15px 0px!important;}
	.Top2 {height: 200px;}
	
	.Big2 {height: 300px;}
	.vuong2 {width: 100%;}
	.text2 {font-size: 5rem;
			top: 135px!important;
			line-height: 65px;}
	#Portfolio {height: 390px!important; }
	.P1 {height: 390px; top: -30px;}
	.ptext {font-size: 2.5rem; top: -10px!important;}
	.P3 {position: relative; top: -65px;}
	.phinh {width: 100%;}
	.p1 {position: relative; top: -90px;
		height: 20px; width: 65px;
		font-size: 0.45rem!important;}
	#Skills {height: 230px!important;position: relative;top: 0px!important;}
	.S1 {position: relative; top: 0px; height: 230px;}
	.texts {font-size: 2.5rem; padding: 15px 0px!important;}
	.vuongs2 {height: 110px; width: 70px; border-radius: 20px; margin: 10px;}
	.textvuong {font-size: 1.6rem; position: relative; top: -03px; left: -44px;}
	.vuongs2 hr {width: 35px!important; position: relative; left: -85px!important;top: -28px!important;}
	.textvuong3 {font-size: 1.6rem; position: relative; top: -03px; left: -43px;}
	.textvuong4 {font-size: 1.6rem; position: relative; top: -03px; left: -37px;}
	.hinhs {width: 78%; position:  relative; top: -37px;left: -18px;}
	.hinhs1 {width: 78%; position:  relative; top: -37px;left: -21px;}
	.hinhs2 {width: 78%; position:  relative; top: -37px;left: -23px;}
	.textvuong2 {font-size: 1.6rem; position: relative; top: -61px; left: -37px;}
	.textvuong5 {font-size: 1.6rem; position: relative; top: -61px; left: -34px;}
	#Contact {height: 650px!important;top: 0px!important;}
	.C1 {position: relative; top: 0px!important; height: 650px;}
	.C2 {font-size: 2.5rem; top: 0px;}
	.fa-envelope {font-size: 25px!important; position: relative; top: -20px; left: -10px;}
	.fa-phone {font-size: 25px!important; position: relative; top: -15px; left: -8px;}
	.ctext {font-size: 1rem; position: relative; top: -15px;}
	.C3 {font-size: 1.5rem;position: relative; top: -20px;}
	.hinhc {width: 30%; top: 30px; left: -150px; z-index: 10!important;}
	input {position: relative; top: -20px;z-index: 5!important;}
	.hinhc1 {width: 60%; top: -120px; left: 190px; z-index: 10!important;}
	.b2 {position: relative; top: -190px; width: 50px; height: 20px; font-size: 0.6rem;left: 0px;}
	.circle {height: 20px; width: 20px;}
	.fa-facebook-f {font-size: 11px!important; position: relative; top: -9.5px;left: -15px;}
	.fa-behance {font-size: 11px!important; position: relative; top: -10px;left: 1px;}
	.fa-instagram {font-size: 11px!important; position: relative; top: -9px;}
	.fa-pinterest-p {font-size: 11px!important; position: relative; top: -8.5px;}
	.foo1 {font-size: 0.5rem; position: relative; left: 15px;top: 10px;}
	footer {height: 50px!important;}
	.foo {height: 50px; top: -50px;}
}

